<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿波宠物领养</title>
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" href="../css/Container.css" class="css">
    <link rel="stylesheet" href="../css/index.css" class="css">
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css" class="css">
    <script src="../element-ui/lib/index.js"></script>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header height="20vh" style="padding: 0;">
                <div class="head" style="overflow: hidden;padding-right: 10px;">
                    <p style="float: left;"><span><a href="../index.html">无论何时请不要抛弃它，因为他的世界只有你！！！</a></span></p>
                    <div style="display: flex;flex-direction: row-reverse;">
                        <p @click="logout" style="color: red;cursor: pointer;" v-if="currentUser!=null">
                            <span>退出登录</span>
                        </p>
                        <p class="login" v-if="currentUser==null"><span>欢迎游客！<a href="./Login.html">登录</a>/<a
                                    href="./Register.html">注册</a>后可进行领养</span>
                        </p>
                        <p class="login" v-else>
                            <span><a href="./person.html">欢迎{{currentUser}}</a></span>
                        </p>
                    </div>
                </div>
                <div>
                    <el-card class="box-card">
                        <div class="top">
                            <p><img src="../image/logo.png" style="cursor:pointer;" @click="toIndex"></p>
                        </div>
                    </el-card>
                </div>
            </el-header>
            <el-main>
                <div class="Carousel">
                    <el-row :gutter="20">
                        <el-col :span="16">
                            <div class="grid-content bg-purple">
                                <el-card>
                                    <el-carousel :interval="5000" arrow="always" height="300px">
                                        <el-carousel-item v-for="item in lb" :key="item.id">
                                            <el-image style="width: 100%; height: 100%" :src="item.url"></el-image>
                                        </el-carousel-item>
                                    </el-carousel>
                                </el-card>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-card class="box-card">
                                    <p class="spendInfo"><i class="el-icon-document">信息发布</i></p>
                                    <el-button type="danger" @click="goLogin" v-if="currentUser==null">
                                        点击登录去领养
                                    </el-button>
                                    <p class="already" v-else><i class="el-icon-user-solid" @click="Toperson"
                                            style="cursor: pointer;">你好！{{currentUser}}</i></p>
                                    <p><img src="../image/logo1.jpg" alt="加入公益团队，让生命不在流浪"></img></p>
                                </el-card>
                            </div>
                        </el-col>
                    </el-row>
                </div>
                <div class="Adoption">
                    <el-row :gutter="20">
                        <el-col :span="16">
                            <div>
                                <p class="font">Encyclopedia<span>宠物百科</span></p>
                                <div class="Encyclopedia">
                                    <div class="show">
                                        <ul v-for="item in Encyclopedia" :key="item.id">
                                            <el-image :src="item.url"
                                                style="width: 100%;height: 100%;border-radius: 5px;box-shadow: 0 0 0 2px lightgray;cursor: pointer;"
                                                @click="tokonw(item)"></el-image>
                                            <li>{{item.title}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="happend">
                                    <ul v-for="item in happend">
                                        <li><span>{{item.kind}}</span></li>
                                        <li class="fontsty" style="flex: 9;text-align: left;" @click="tokonw(item)">
                                            {{item.title}}</li>
                                        <li style="flex: 1;">{{item.read}}</li>
                                    </ul>
                                </div>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div>
                                <el-card class="box-card" style="height: inherit;">
                                    <p class="font">knowlede<span>喂养知识</span>

                                    </p>
                                    <div class="knowledeList">
                                        <ul>
                                            <li v-for="item in knowlede" @click="tokonw(item)">{{item.title}}</li>
                                        </ul>
                                    </div>
                                </el-card>
                            </div>
                            <div class="konw">
                                <el-card class="box-card" style="height: inherit;">
                                    <p class="font">know<span>懂它</span>
                                    </p>
                                    <div class="knowledeList">
                                        <ul>
                                            <li v-for="item in knowlede" @click="tokonw(item)">{{item.title}}</li>
                                        </ul>
                                    </div>
                                </el-card>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </el-main>
            <el-footer height="350px">
                <div class="footer-top">
                    <div class="content">
                        <h3>关于我们</h3>
                        <p>阿波宠物领养</p>
                        <p>www.AboPet.com</p>
                        <p>联系我们</p>
                    </div>
                    <div class="content">
                        <h3>网站协议</h3>
                        <p>用户协议</p>
                        <p>免责声明</p>
                        <p>订单协议</p>
                        <p>隐私声明</p>
                    </div>
                    <div class="content">
                        <h3>信息安全</h3>
                        <p>欺诈举报</p>
                        <p>留言反馈</p>
                        <p>版权申明</p>
                    </div>
                    <div class="content">
                        <h3>站务合作</h3>
                        <p>站务合作</p>
                        <p>公益活动</p>
                        <p>联系方式</p>
                    </div>
                    <div class="content">
                        <h3>联系我们</h3>
                        <p>服务热线：400-123-1234</p>
                        <p>邮箱：AboPet@gmail.com</p>
                    </div>
                    <div class="footer-bottom">
                        湘公网安备 XXXXXXXXXXXXXXXX号
                        <p>
                            Copyright © 2023 长沙市阿波宠物领养有限公司
                        </p>
                    </div>
                </div>
            </el-footer>
        </el-container>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data() {
            return {
                currentUser: '',
                lb: [{ id: 0, url: '../image/lb.png', id: '001' }, { id: 1, url: '../image/LB.jpg', id: '002' }],
                knowlede: [
                    {
                        title: '奶猫断奶 多大的小猫可以吃猫粮', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '别人送了猫粮 猫咪可不可以两种猫粮一起吃', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '狗狗不能吃巧克力 那狗能吃代可可脂吗', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '柯基可以吃豆腐吗 少量的食用豆腐还有好处的', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '为什么说宠物狗不能吃人吃的食物 土狗却可以', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '狗狗吃盐会中毒 尽量不要不喂人吃的食物', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                ],
                know: [
                    {
                        title: '狗狗会便秘吗 一天没大便怎么办', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '公猫一定要做绝育吗 猫咪猫绝育有什么好处', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '猫咪会换牙吗 猫换牙是从几个月开始', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '小奶狗好脏 可以给它洗澡吗', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '狗狗洗澡会发抖 但没有洗却不停发抖是什么原因', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        title: '狗身上有异味如何消除 对此需要重视起来', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },],
                Encyclopedia: [
                    {
                        id: 0, title: '狗狗歪头看人是什么意思 因为鼻子挡住视', url: '../image/Encyclopedia1.jpeg', info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。`
                    },
                    {
                        id: 1, title: '你想带宠物去上班吗 带宠物上班的好处', url: '../image/Encyclopedia2.jpeg', info: `在国外很多家庭至少拥有一只宠物。他们养宠物有很多原因，其中最重要的是它们为人们提供了重要的健康益处。但你有没有考虑过将宠物带入工作场所可能带来的好处?以下是您可能希望在下次办公会议上给老板的三个意见：
1、帮助减轻压力狗和猫经常被认为是帮助缓解压力的最好的动物。看看它们的眼睛，突然间你的忧愁和压力似乎消失了。事实上，根据2012年国际工作场所健康管理杂志发表的一项研究报告，在北卡罗来纳州格林斯博罗的一群员工中，当他们的狗在他们身边时，工作压力水平下降。相反，对于那些将宠物留在家中或根本没有养宠物的同事而言，工作压力水平会增加。
你想带宠物去上班吗？带宠物上班的好处.
2、鼓励更长的工作时间
很少有人愿意长时间工作。但是把一只宠物放在办公室里，突然你有坚持下去并完成工作的理由。根据美国宠物用品制造商协会，在2008年对50家小型和大型公司的调查，那些允许工作场所养宠物的公司不仅让员工更愿意长时间工作，而且让员工缺勤率也更低。
你想带宠物去上班吗？带宠物上班的好处.
3、增加了友情
让我们面对现实，每个人都有一个他们很难忍受的同事。但是，如果你们喜欢可爱的拉布拉多猎犬或布偶猫，你们突然之间会有共同“朋友”以及共同的话语，跟同事之间的相处也会更融洽。
你想带宠物去上班吗？带宠物上班的好处.
其他你需要考虑的：
尽管带宠物上班的所有潜在好处，还有一些重要的事情需要考虑。例如，您应该提前计划，并与您的同事和主管核实确认，确保将毛孩带入工作场所不会违反公司制度，并且没有人有严重的宠物过敏问题。此外，请确保您的宠物的健康和安全。你可以携带足够的食物和水来保证它度过一整天吗?你可以让宠物不扰乱工作区吗?虽然宠物可以带来很多好处，但也需要环境适合。` },
                    {
                        id: 2, title: '动物会使人感染新冠病毒吗 报道证明有个例', url: '../image/Encyclopedia3.jpg', info: `世界各国均有宠物（包括猫和狗）感染新冠病毒的报道，大多数是在与患者密切接触之后发生。人有可能在密切接触时将新冠病毒传染给宠物，但宠物将新冠病毒传播给人类的风险很低。宠物可能会因感染新冠病毒而患上严重疾病，但这种情况极为罕见。
有哪些方法可以预防宠物感染新冠病毒？
●避免宠物与他人或家庭以外的其他动物进行不必要的接触。
●让宠物与流浪猫、狗保持安全距离。
●请勿喂食流浪猫、狗或触摸其粪便。
●当你把宠物带到一个可能暴露于新冠病毒的地方时，请权衡再三，做出最好的判断。
●注意洗手。
●定期清洁动物项圈、皮带或挽具和食盆等用品。
宠物或其他动物会使人感染新冠病毒吗？
请不要做以下行为，有可能会伤害宠物：
给宠物戴口罩
用化学消毒剂、酒精、双氧水或其他产品(如洗手液、清洁湿巾或其他工业或表面清洁剂)擦拭宠物皮毛或给宠物洗澡。没有证据表明新冠病毒可以通过宠物的皮肤、皮
或毛发传播给人类。如果宠物的皮肤或皮毛上沾有洗手液，请立即用水冲洗或擦拭宠物。
如果宠物摄入了洗手液（例如通过咀嚼瓶子）或在使用后出现疾病体征，请立即联系兽医` }],
                happend: [
                    {
                        kind: '发生', title: '北京市养犬规定2023', read: 573, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '酒泉市养犬管理办法 需要知道的宠物法律', read: 432, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '临夏回族自治州养犬管理条例', read: 392, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '平凉市养犬管理条例（草案）', read: 478, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '嘉峪关市养犬管理条例 宠物狗办证', read: 495, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '嘉峪关市养犬管理条例 宠物狗办证', read: 431, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '天水市养犬管理条例', read: 464, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。`},
                    {
                        kind: '发生', title: '兰州市养犬管理条例 养狗人必须知道的事情', read: 450, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '兰州市养犬管理条例 养狗人必须知道的事情', read: 450, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '兰州市养犬管理条例 养狗人必须知道的事情', read: 450, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '兰州市养犬管理条例 养狗人必须知道的事情', read: 450, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                    {
                        kind: '发生', title: '兰州市养犬管理条例 养狗人必须知道的事情', read: 450, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。`},
                    {
                        kind: '发生', title: '兰州市养犬管理条例 养狗人必须知道的事情', read: 450, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。`},
                    {
                        kind: '发生', title: '兰州市养犬管理条例 养狗人必须知道的事情', read: 450, info: `狗狗歪头看人可能是在表达疑惑，因为狗狗不是一种全知全能的动物，所以在面对许多不明白的事物时，它们会想要用更为直观地方法去了解，那就是盯着看，为了看得更为仔细，狗狗们会能选择歪头去看。狗狗歪头看还有另外一种情况，就是没有听懂主人第一次下达的命令，它们会误以为自己听错主人的指令，所以它们可能会使用歪头的方式，来表达自己的迷惑。
狗狗歪头看人也可能是听觉方面的原因，狗狗的听觉敏锐，但并不代表着它们能够听清楚所有的声音。所以在某些时候，狗狗没有听清楚声音的来源以及声音的内容时，它们就会尝试着调节自己耳朵的方向，然后去尝试听清楚声音，分辨声音的来源以及内容。
可能是为了更好地看清楚事物，狗狗的视野与人类不一样，因为被鼻子挡住，它看到的往往是这样的。当狗狗歪一下头，可能是能够帮助它们扩大自己的视野。` },
                ],
            }
        },
        methods: {
            tokonw(item) {
                sessionStorage.setItem('info', JSON.stringify(item))
                location.assign('./tokonw.html')
            },
            toIndex() {
                location.assign("../index.html")
            },
            goLogin() {
                location.assign("./Login.html")
            },
            Toperson() {
                location.assign("./person.html")
            },
            logout() {
                sessionStorage.clear()
                location.assign('./Login.html')
            },
        },
        created() {
            this.currentUser = JSON.parse(sessionStorage.getItem('currentUser'))
            console.log(this.currentUser);
        },
    })
</script>

</html>